@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  background-image: url(../image/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.section-navbar {
  margin-top: 0.57rem;
}

.section-navbar .navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-navbar .navbar-container .navbar-logo {
  margin-left: 0.21rem;
}

.section-navbar .navbar-container .navbar-logo .navbar-game {
  display: inline-block;
  width: 1.9rem;
}

.section-navbar .navbar-container .navbar-logo .navbar-game img {
  width: 100%;
}

.section-navbar .navbar-container .navbar-share {
  display: flex;
  flex-direction: column;
}

.section-navbar .navbar-container .navbar-share .share ul {
  box-sizing: border-box;
  width: 2.1rem;
}

.section-navbar .navbar-container .navbar-share .share ul .nav-item {
  float: left;
  line-height: 0;
}

.section-navbar .navbar-container .navbar-share .share ul .nav-item a {
  display: inline-block;
}

.section-navbar .navbar-container .navbar-share .share ul::after {
  content: "";
  display: block;
  clear: both;
}

.section-navbar .navbar-container .navbar-share .share-top .nav-item {
  padding: 0.1rem 0.1rem 0 0.1rem;
}

.section-navbar .navbar-container .navbar-share .share-top img {
  width: 0.39rem;
}

.section-navbar .navbar-container .navbar-share .share-bottom ul {
  padding: 0 0.1rem 0 0.2rem;
}

.section-navbar .navbar-container .navbar-share .share-bottom ul .nav-item {
  padding: 0.05rem;
}

.section-navbar .navbar-container .navbar-share .share-bottom a {
  height: auto;
}

.section-navbar .navbar-container .navbar-share .share-bottom a img {
  width: 0.26rem;
}

.section-gamePlay {
  display: flex;
  flex-direction: row;
  color: #a05a1c;
  font-size: 0.16rem;
}

.section-gamePlay .content-active {
  display: block !important;
}

.section-gamePlay .content {
  width: 79%;
  display: none;
  padding-left: 20%;
  box-sizing: border-box;
}

.section-gamePlay .content .content-title {
  text-align: center;
}

.section-gamePlay .content .content-title img {
  width: 42%;
}

.section-gamePlay .content .content-tags {
  position: relative;
  margin-top: 0.3rem;
}

.section-gamePlay .content .content-tags #type-swiper {
  margin-top: 0.06rem;
  width: 57%;
  height: 0.5rem;
  margin-left: 23%;
}

.section-gamePlay .content .content-tags #type-swiper .swiper-slide-active .common {
  display: none !important;
}

.section-gamePlay .content .content-tags #type-swiper .swiper-slide-active .hover {
  display: block !important;
}

.section-gamePlay .content .content-tags #type-swiper .swiper-slide {
  cursor: pointer;
  width: 33.33% !important;
}

.section-gamePlay .content .content-tags #type-swiper .swiper-slide img {
  width: 89%;
  position: absolute;
  top: 0;
}

.section-gamePlay .content .content-tags #type-swiper .swiper-slide .common {
  display: block;
}

.section-gamePlay .content .content-tags #type-swiper .swiper-slide .hover {
  display: none;
}

.section-gamePlay .content .content-tags #type-swiper .swiper-slide:hover .common {
  display: none;
}

.section-gamePlay .content .content-tags #type-swiper .swiper-slide:hover .hover {
  display: block;
}

.section-gamePlay .content .content-tags .swiper-button-prev {
  background-image: url(../image/prev.png) !important;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 0.7rem !important;
  left: 17%;
  top: 40%;
}

.section-gamePlay .content .content-tags .swiper-button-next {
  background-image: url(../image/next.png) !important;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 0.7rem !important;
  right: 15%;
  top: 35%;
}

.section-gamePlay .content .content-tags .decoration1 {
  position: absolute;
  top: 39%;
  left: 40%;
  display: inline-block;
  width: 0.2rem;
}

.section-gamePlay .content .content-tags .decoration2 {
  position: absolute;
  top: 39%;
  left: 59%;
  display: inline-block;
  width: 0.2rem;
}

.section-gamePlay .content .content-swiper #activity-swiper {
  overflow: hidden;
}

.section-gamePlay .content .content-swiper #activity-swiper .active {
  display: block !important;
}

.section-gamePlay .content .content-swiper #activity-swiper .swiper-slide {
  display: none;
  box-sizing: border-box;
  padding: 0.2rem 0.2rem 0 0.7rem;
  overflow-y: scroll;
  height: 4.98rem;
  /* 滑块颜色 */
}

.section-gamePlay .content .content-swiper #activity-swiper .swiper-slide .title {
  margin-left: 0.05rem;
  height: 0.45rem;
}

.section-gamePlay .content .content-swiper #activity-swiper .swiper-slide .title img {
  height: 100%;
}

.section-gamePlay .content .content-swiper #activity-swiper .swiper-slide .time {
  margin-left: 0.45rem;
  padding: 0.15rem 0;
}

.section-gamePlay .content .content-swiper #activity-swiper .swiper-slide .introduce {
  line-height: 0.25rem;
  margin-top: 0.1rem;
}

.section-gamePlay .content .content-swiper #activity-swiper .swiper-slide .activity img {
  width: 100%;
}

.section-gamePlay .content .content-swiper #activity-swiper .swiper-slide::-webkit-scrollbar-track-piece {
  background-color: #ecddbc;
  border-radius: 0.05rem;
}

.section-gamePlay .content .content-swiper #activity-swiper .swiper-slide::-webkit-scrollbar-thumb {
  background-color: #a5d4d5;
  border-radius: 0.05rem;
}

.section-gamePlay .content .content-swiper #activity-swiper .swiper-slide::-webkit-scrollbar {
  width: 0.05rem;
}

.section-gamePlay .content-navbar {
  background-image: url(../image/导航底.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 21%;
  margin-top: 0.55rem;
}

.section-gamePlay .content-navbar ul {
  width: 100%;
}

.section-gamePlay .content-navbar ul li {
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.section-gamePlay .content-navbar ul li img {
  float: right;
  height: 100%;
}

.section-gamePlay .content-navbar ul li .common {
  display: block;
}

.section-gamePlay .content-navbar ul li .hover {
  display: none;
}

.section-gamePlay .content-navbar ul li:hover .common {
  display: none;
}

.section-gamePlay .content-navbar ul li:hover .hover {
  display: block;
}

.section-gamePlay .content-navbar ul .directory1 {
  width: 100%;
  padding-right: 24%;
}

.section-gamePlay .content-navbar ul .directory1 .directory1-container {
  height: 0.5rem;
  width: 100%;
}

.section-gamePlay .content-navbar ul .directory1 .directory1-container .title {
  height: 96%;
  float: right;
  box-sizing: border-box;
  color: #43a3c6;
  font-size: 0.25rem;
  font-weight: bolder;
  text-shadow: 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff, -1px -1px 1px #fff;
  position: relative;
  padding-right: 0.25rem;
}

.section-gamePlay .content-navbar ul .directory1 .directory1-container .title::after {
  content: "";
  display: block;
  clear: both;
  height: 0.2rem;
  width: 0.2rem;
  position: absolute;
  right: 0;
  top: 15%;
  background-image: url(/image/title_icon.png);
  background-size: 100%;
}

.section-gamePlay .content-navbar ul .directory1 .directory1-container .title:hover {
  color: #fff;
  background-image: url(/image/title_hover.png);
  background-size: 100%;
  padding: 0.05rem 0.5rem 0 0.5rem;
  font-weight: lighter;
  background-repeat: no-repeat;
}

.section-gamePlay .content-navbar ul .directory1 .directory1-container .title:hover::after {
  content: "";
  display: none;
}

.section-gamePlay .content-navbar ul .directory1 .directory1-container .active {
  color: #fff;
  background-image: url(/image/title_hover.png);
  background-size: 100%;
  padding: 0.05rem 0.5rem 0 0.5rem;
  font-weight: lighter;
  background-repeat: no-repeat;
}

.section-gamePlay .content-navbar ul .directory1 .directory1-container .active::after {
  content: "";
  display: none;
}

.section-gamePlay .content-navbar ul .directory1 .ul-directory2 {
  width: 100%;
}

.section-gamePlay .content-navbar ul .directory1 .ul-directory2 .directory2 {
  width: 100%;
  height: 0.45rem;
}

.section-gamePlay .content-navbar ul .directory1 .ul-directory2 .directory2 span {
  color: #43a3c6;
  float: right;
  font-size: 0.2rem;
  font-weight: 550;
  text-shadow: 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff, -1px -1px 1px #fff;
  position: relative;
  padding-right: 0.2rem;
}

.section-gamePlay .content-navbar ul .directory1 .ul-directory2 .directory2 span::after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: #43a3c6;
  border: 2.5px solid #fff;
  border-radius: 5px;
  box-shadow: #fff 0px 0px 30px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.section-gamePlay .content-navbar ul .directory1 .ul-directory2 .directory2 span:hover {
  color: #ed852c;
}

.section-gamePlay .content-navbar ul .directory1 .ul-directory2 .directory2 span:hover::after {
  background-color: #ed852c;
}

.section-gamePlay .content-navbar ul .directory1 .ul-directory2 .directory2 .sel {
  color: #ed852c;
}

.section-gamePlay .content-navbar ul .directory1 .ul-directory2 .directory2 .sel::after {
  background-color: #ed852c;
}

.section-gamePlay .content-navbar ul .directory1 .ul-directory2 .directory2::after {
  content: '';
  display: block;
  clear: both;
}

.section-gamePlay .content-navbar ul .directory1:first-child .title:hover {
  color: #fff;
  background-image: url(/image/title1_hover.png);
  background-size: 100%;
  padding: 0.05rem 0.5rem 0 0.5rem;
  font-weight: lighter;
  background-repeat: no-repeat;
}
